.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #C7D0D9;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero img {
    max-width: 70%;
}