.portofolio {
    display: flex;
    width: calc(100% - 160px);
    padding: 80px;
}

.left {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-basis: 30%;
}

.right {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 64px;

}

.project-wrapper {
    display: flex;
    justify-content: space-between;
}

.project-name {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-list {
    display: flex;
    gap: 6px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}